<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark" >
        <div class="container-fluid">
            <a class="navbar-brand" href="{%url 'home' %}">FoodHub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{%url 'home' %}">Home</a>
                    </li>
                   
                </ul>
                <div class="d-flex align-items-center ms-auto">
                    {% if request.user.is_authenticated %}
                    {% if request.user.approved == True and  request.user.isresturant == True  %}
                    <a href=""><i class="fa-solid fa-hotel fa-lg me-3" style="color: #ffffff;"></i></a>
                    {% endif %}
                    {% if request.user.approved == True and  request.user.isdelivery == True  %}
                    <a href=""><i class="fa-solid fa-truck fa-lg me-3" style="color: #ffffff;"></i></a>
                    {% endif %}
                    {% endif %}

                    {% if request.user.is_authenticated %}


                    <div class="dropdown me-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user fa-lg"></i>
                        </button>
                        {% comment %} <i class="fa-solid fa-right-from-bracket"> {% endcomment %}
                        <ul class="dropdown-menu">
                          <li class="dropdown-item">Name:{{request.user.username}}</li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                         
                          
                            {% if request.user.isresturant == True or request.user.isdelivery == True  %}
                            {% if request.user.approved == True  %}
                            <li class="dropdown-item" style='background-color:#198754'>
                             Status:Approved   
                            </li>
                            {% else %}
                            <li class="dropdown-item" style='background-color:#DC3545'>
                              Status:Pending  
                            </li>
                            {% endif %}
                            {% endif %}
                            <li><a class="dropdown-item" href="#">Edit Credentials</a></li>
                         
                        </ul>
                      </div>

                   {% else %}

                    <a href="{% url 'login' %}"><button class="btn btn-outline-success me-3" type="submit">Login/Signup</button></a>
                    {% endif %}
                    <button  class="fa-solid fa-cart-shopping fa-lg position-relative me-3" style="background:none;border:none">
                       
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size:0.6rem;">
                            0
                          <span class="visually-hidden">unread messages</span>
                        </span>
                      </button>
                    <button id="mode" class="fa-solid fa-sun fa-lg me-2" style="border:none; background: none; " onclick={change()}></button>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Food or Resturant" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </nav>
    
    
</body>
<script>
    var htmlTag = document.documentElement; 
            var modeButton = document.getElementById('mode');
    if(localStorage.getItem('theme')=='light')
        {
            htmlTag.removeAttribute('data-bs-theme'); 
                modeButton.classList.remove('fa-sun');
                modeButton.classList.add('fa-moon');
                
        }
        else
        {
            htmlTag.setAttribute('data-bs-theme', 'dark'); 
            modeButton.classList.remove('fa-moon');
            modeButton.classList.add('fa-sun');
            
        }
    function change()
    {
        
        var htmlTag = document.documentElement; 
            var modeButton = document.getElementById('mode');

            if (htmlTag.hasAttribute('data-bs-theme') && htmlTag.getAttribute('data-bs-theme') === 'dark') {
                htmlTag.removeAttribute('data-bs-theme'); 
                modeButton.classList.remove('fa-sun');
                modeButton.classList.add('fa-moon');
                localStorage.setItem('theme', 'light');
            } else {
                htmlTag.setAttribute('data-bs-theme', 'dark'); 
                modeButton.classList.remove('fa-moon');
                modeButton.classList.add('fa-sun');
                localStorage.setItem('theme', 'dark');
            }
    }
</script>
</html>