<div id="categories">
    <i class="fa-duotone fa-solid fa-layer-group fa-lg"></i> Categories
  </div>
  <div id="items">
    <ul id="unorder">
      <li>Fast Food
        <ul>
          <li>Pizza</li> <li>Burger</li> <li>Fries</li> <li>Fried Chicken</li> <li>Pasta</li>

        </ul>
        
      </li>
      <li>Fruit and vegitables
        <ul>
          <li>Regular Vegetables</li>
          <li>Ozonated Vegetables</li>
          <li>Fruits</li>
        </ul>
      </li>
      <li>Egg & Dairy
        <ul><li>Egg</li> <li>cheese</li> <li>Milk</li></ul>
         </li>
      
      <li>Meat, Fish & Seafood
        <ul>
          <li>Chicken</li> <li>Mutton</li> <li>Fish</li> <li>Pork</li>
        </ul>
      </li>
      <li>Beverages
        <ul>
          <li>Ready to Drink</li> <li>Make </li>
        </ul>
      </li>
      <li>Oil, Spice & Condiments</li>
      <li>Soup, Sauce & Seasonings</li>
      <li>Baking & Cooking</li>
      <li>Rice & Pulses</li>
      <li>Household</li>
<li>Ready to cook
  <ul><li>Veg Items</li></ul>
</li>
    </ul>

  </div>