{% extends "base.html" %}
{% block title %}
FoodHub-Received Order
{% endblock title %}
{% block content %}
<div class="container mt-5">
    {% for items in orderinfo %}
        {% if not items.listedbyhotel and not items.rejectbyhotel %}
        <h2>Pending Order:</h2>
            <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="{{items.orderfoodid.photo.url}}" alt="Item Image" style="width: 100px; height: 100px; object-fit: cover;" class="me-3">
                        <div>
                            <h5 class="card-title">{{items.orderfoodid.foodname}}</h5>
                            <p class="card-text">{{items.orderfoodid.about}}</p>
                            <p class="cart-text">Total Amount: {{items.totalamount}}</p>
                            <p class="cart-text">Total Price: {{items.totalprice}}</p>
                            <p class="cart-text">Order At: {{items.ordered_at}}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <form method="post" class="me-2">
                            {% csrf_token %}
                            <input type="hidden" name="foodid" value="{{items.id}}">
                            <input type="hidden" name="useridofcart" value="1">
                            {% comment %} <input type="submit" value="Discard Order" name="discard" class="btn btn-danger"> {% endcomment %}
                            <input type="submit" value="Accept Order" name="accept" class="btn btn-success">
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    
    {% for items in orderinfo %}
        {% if items.listedbyhotel %}
        <h2>Received Order:</h2>
            <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="{{items.orderfoodid.photo.url}}" alt="Item Image" style="width: 100px; height: 100px; object-fit: cover;" class="me-3">
                        <div>
                            <h5 class="card-title">{{items.orderfoodid.foodname}}</h5>
                            <p class="card-text">{{items.orderfoodid.about}}</p>
                            <p class="cart-text">Total Amount: {{items.totalamount}}</p>
                            <p class="cart-text">Total Price: {{items.totalprice}}</p>
                            <p class="cart-text">Order At: {{items.ordered_at}}</p>
                            <p class="cart-text">OTP for deliveryman: {{items.otpfordeliveryman}}</p>
                        </div>
                    </div>
                    {% if  not items.isdelivered %}
                    <div class="d-flex align-items-center">
                        <button class="btn btn-secondary">You received this  order</button>
                    </div>
                    {% else %}
                    <div class="d-flex align-items-center">
                        <button class="btn btn-success">Order received by user</button>
                    </div>
                    {% endif %}
                   
                    
                </div>
            </div>
        {% endif %}
    {% endfor %}


    {% for items in orderinfo %}
    {% if items.rejectbyhotel %}
    <h2>Rejected Order:</h2>
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="{{items.orderfoodid.photo.url}}" alt="Item Image" style="width: 100px; height: 100px; object-fit: cover;" class="me-3">
                    <div>
                        <h5 class="card-title">{{items.orderfoodid.foodname}}</h5>
                        <p class="card-text">{{items.orderfoodid.about}}</p>
                        <p class="cart-text">Total Amount: {{items.totalamount}}</p>
                        <p class="cart-text">Total Price: {{items.totalprice}}</p>
                        <p class="cart-text">Order At: {{items.ordered_at}}</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-danger">You discard this  order</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

</div>
{% endblock content %}
