<div class="container">
<div class="row">
<div class="col-5">

    <div class="card mt-3 ms-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <button class="fa-regular fa-heart fa-lg ms-4" style="background:none;border:none"></button>
        </div>
      </div>
</div>
</div>
</div>