{% extends "base.html" %}
{% block title %}
FoodHub-Login
{% endblock %}
{% block css %}{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                   
                   {% for field in form %}
                   {% if field.errors %}
                      {% for error in field.errors %}
                           <div class="alert alert-danger" role="alert">
                               {{ error }}
                           </div>
                      {% endfor %}
                   {% endif %}
               {% endfor %}
               <!--message-->
               {% if messages %}

    {% for message in messages %}
    <div class="alert alert-danger" role="alert"> {{ message }} </div>
    {% endfor %}

{% endif %}
                    <form method="POST">
                        {%csrf_token%}
                        <div class="mb-3">
                            <label  class="form-label">Email or Username</label>
                            <input type="text" name="username" class="form-control" 
                                >

                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                        </div>
                      
                        <p>Dont have an account?<a href="{% url 'signup'%}">Signup</a></p>
                        <p>forget your password?<a href="{% url 'sendmail'%}">ResetPassword</a></p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}