<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <h5>Signup as DeliveryBoy</h5>
        <hr>
        <input type="hidden" value="delivery" name="identify">
        <label  class="form-label">Email</label>
        <input type="text" name="email" class="form-control" aria-describedby="emailHelp">
            <label  class="form-label">Username</label>
        <input type="text" name="username" class="form-control" >

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" >
    </div>
    <label  class="form-label">Address</label>
    <input type="text" name="address" class="form-control">
    <label  class="form-label">phone number</label>
    <input type="number" name="address" class="form-control">
    <label  class="form-label">Citizenship picture</label>
        <input type="file" name="picture" class="form-control">
    
    <p>Already have a account?<a href="{% url 'login'%}">Login</a></p>
    <button type="submit"  class="btn btn-primary">Submit</button>
</form>