<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <h5>Signup as DeliveryBoy</h5>
        <hr>
        <input type="hidden" value="delivery" name="identify">
        <label  class="form-label">Email</label>
        <input type="text" name="email" class="form-control" aria-describedby="emailHelp" value="{{form.email.value|default:""}}">
            <label  class="form-label">Username</label>
        <input type="text" name="username" value="{{form.username.value|default:""}}" class="form-control" >

    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" value="{{form.password.value|default:""}}" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label">Confrim Password</label>
        <input type="password" name="cpassword" value="{{form.cpassword.value|default:""}}" class="form-control" >
    </div>
    <label  class="form-label">Address</label>
    <input type="text" name="address" value="{{form.address.value|default:""}}" class="form-control">
    <label  class="form-label">phone number</label>
    <input type="number" name="phone" value="{{form.phone.value|default:""}}" class="form-control">
    <label  class="form-label">Citizenship picture</label>
        <input type="file" name="photo" value="{{form.photo.value|default:""}}" class="form-control">
    
    <p>Already have a account?<a href="{% url 'login'%}">Login</a></p>
    <button type="submit"  class="btn btn-primary">Submit</button>
</form>